*{margin: o;
  padding: 0;
  box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;  
}
.logo{
    font-size: 2em;
    font-weight: bolder;
}
.logo span{
    color: orange;
}
nav{
    width: 100%;
    height: 8em;
    display: flex;
   justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 70px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 20px;
}
.menu a:first-child{
    color: orange;
}
.menu a:hover{
    color: orange;
    transition: .5s;
}
.menu a:first-child:hover{
    color: red
}
.search{
    position: relative;
    width: 100%;
}
.search input{
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid gray;
    outline: none;
}
#icon{
    position: absolute;
    right: 480px;
    padding: 10px 20px;
    
}

#mode{
    padding: 10px 20px;
    font-size: 1.6rem;
    cursor: pointer;
    margin-left: 15px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    flex-basis: 40%;
}

.right{
    flex-basis: 50%;
}
.right img{
    width: 100%;
}
.left h1{
    font-style: 3em;
    margin-bottom: 10px;
}

.left p{
    line-height: 2.2em;
}
.left h1 span{
    color: orange;
}
.left a{
    text-decoration: none;
    padding: 10px 20px;
    background: orange;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
}
.left a:hover{
    cursor: pointer;
    transition: .6s;
    background: rgb(148, 11, 109);
    font-weight: bolder;
    font-size: 1.2rem;
    
}
.icons{
    margin-top: 3em ;
}

.icons i{
    padding: 15px;
    font-size: 2em;
    color: #232323;
    cursor: pointer;
    transition: .6s;
}

.icons i:hover{
    background: #e67e22;
    color: white;
    border-radius: 50%;
}

@media only screen and (max-width:700px){
    .logo{
        width: 100%;
        text-align: center;
        font-size: 2.5em;
    }
    nav{
        padding: 0 15px;
    }
    .menu{
        width: 100%;
        text-align: center;
    }
    .container{
        text-align: center;
        padding: 20px 40px;
        flex-direction: column-reverse;
    }

}